<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notícias do Brasil
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="scrollToTop()">
        <ion-icon name="arrow-up-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #content>
  <ion-refresher slot="fixed" (ionRefresh)="efeitoRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down" refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  
  <ion-card *ngFor="let noticias of lista_noticias">
    <ion-img [src]="noticias.urlToImage"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ noticias.title }}</ion-card-title>
      <ion-card-subtitle>{{ noticias.publishedAt | date:'dd/MM/yyyy HH:mm' }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Autor:</strong> {{ noticias.author }}</p>
      <p><strong>Descrição:</strong> {{ noticias.description }}</p>
      <p><strong>Fonte:</strong> {{ noticias.source.name }}</p>
      <p><strong>URL:</strong> <a href="{{ noticias.url }}" target="_blank">{{ noticias.url }}</a></p>
      <p><strong>Conteúdo:</strong> {{ noticias.content }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
