<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Apresentação do Grupo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Membro 1</ion-card-title>
      </ion-card-header>
      <swiper-container pager="true">
        <swiper-slide>
          <ion-img src="/assets/img/adrian.jpeg" alt="Foto do Membro 1"></ion-img>
          <ion-card-content>
            <h2><strong>Nome: </strong>Ádrian Henrique de Araújo</h2>
            <p><strong>Idade: </strong>23</p>
          </ion-card-content>
        </swiper-slide>

        <swiper-slide>
          <ion-card-content>
            <p><strong>Curso: </strong>Análise e Desenvolvimento de Sistemas</p>
            <p><strong>Descrição: </strong>Estou atualmente no 3º semestre da faculdade e tenho certificados em desenvolvimento frontend e backend. Minha paixão é o desenvolvimento frontend, onde crio interfaces intuitivas. Adoro tecnologia e inovação</p>
          </ion-card-content>
        </swiper-slide>
      </swiper-container>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Membro 2</ion-card-title>
      </ion-card-header>
      <swiper-container pager="true">
        <swiper-slide>
          <ion-img src="foto2.jpg" alt="Foto do Membro 2"></ion-img>
          <ion-card-content>
            <h2><strong>Nome: </strong>#</h2>
            <p><strong>Idade: </strong>#</p>
          </ion-card-content>
        </swiper-slide>

        <swiper-slide>
          <ion-card-content>
            <p><strong>Curso: </strong>#</p>
            <p><strong>Descrição: </strong>#</p>
          </ion-card-content>
        </swiper-slide>
      </swiper-container>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Membro 3</ion-card-title>
      </ion-card-header>
      <swiper-container pager="true">
        <swiper-slide>
          <ion-img src="foto3.jpg" alt="Foto do Membro 3"></ion-img>
          <ion-card-content>
            <h2><strong>Nome: </strong>#</h2>
            <p><strong>Idade: </strong>#</p>
          </ion-card-content>
        </swiper-slide>

        <swiper-slide>
          <ion-card-content>
            <p><strong>Curso: </strong>#</p>
            <p><strong>Descrição: </strong>#</p>
          </ion-card-content>
        </swiper-slide>
      </swiper-container>
    </ion-card>
</ion-content>
