<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-container">
    <div class="login-card">
      <h1 class="login-title">Cadastro</h1>
      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Digite seu email" [(ngModel)]="email">
        <div *ngIf="emailError" class="error-message">{{ emailError }}</div>
      </div>
      <div class="input-group">
        <label for="password">Senha</label>
        <div class="password-input">
          <input type="{{ showPassword ? 'text' : 'password' }}" id="password" placeholder="Digite sua senha" [(ngModel)]="password">
          <ion-icon name="{{ showPassword ? 'eye-off' : 'eye' }}" class="password-toggle" (click)="togglePasswordVisibility()"></ion-icon>
        </div>
        <div *ngIf="passwordError" class="error-message">{{ passwordError }}</div>
      </div>
      <div class="input-group">
        <label for="password">Confirmar Senha</label>
        <div class="password-input">
          <input type="{{ showConfirmSenha ? 'text' : 'password' }}" id="confirmPassword" placeholder="Confirmar Senha" [(ngModel)]="confirmsenha">
          <ion-icon name="{{ showConfirmSenha ? 'eye-off' : 'eye' }}" class="password-toggle" (click)="toggleConfirmSenhaVisibility()"></ion-icon>
        </div>
        <div *ngIf="confirmSenhaError" class="error-message">{{ confirmSenhaError }}</div>
      </div>
      <button class="login-button" (click)="signup()">Confirmar Cadastro</button>
      <div class="ou">
        <p>Ou</p>
      </div>
      <button [routerLink]="['/login']" class="login-button">Volta ao Login</button>
    </div>
  </div>
</ion-content>
